Options -Indexes

RewriteEngine on

# ErrorDocument 404 /app/controller/error.php


# SITE CONTROLLER

# Menu Items

RewriteRule ^$ app/controller/siteController.php?action=explore [QSA,L]

RewriteRule ^recentTopics/?$ app/controller/siteController.php?action=recentTopics [QSA,L]

RewriteRule ^hotTopics/?$ app/controller/siteController.php?action=hotTopics [QSA,L]

RewriteRule ^myActivity/?$ app/controller/siteController.php?action=myActivity [QSA,L]

# Account Management

RewriteRule ^signup/process/?$ app/controller/siteController.php?action=processSignup [QSA,L]

RewriteRule ^login/process/?$ app/controller/siteController.php?action=processLogin [QSA,L]

RewriteRule ^logout/?$ app/controller/siteController.php?action=logout [QSA,L]

RewriteRule ^profile/?$ app/controller/siteController.php?action=profile [QSA,L]

RewriteRule ^profile/update/?$ app/controller/siteController.php?action=updatePassword [QSA,L]

# POST CONTROLLER

# Topics

RewriteRule ^view/(\d+)/?$ app/controller/postController.php?action=threadView&tid=$1 [QSA,L]

RewriteRule ^switchFavorite/?$ app/controller/postController.php?action=switchFavorite [QSA,L]

RewriteRule ^addTopic/?$ app/controller/postController.php?action=addTopic [QSA,L]

RewriteRule ^addTopic/process/?$ app/controller/postController.php?action=processAdd [QSA,L]

RewriteRule ^editTopic/process/(\d+)/?$ app/controller/postController.php?action=processEdit&tid=$1 [QSA,L]

RewriteRule ^deleteTopic/process/(\d+)/?$ app/controller/postController.php?action=processDelete&tid=$1 [QSA,L]

# Replies

RewriteRule ^addReply/process/?$ app/controller/postController.php?action=processAddReply [QSA,L]

RewriteRule ^editReply/process/(\d+)/?$ app/controller/postController.php?action=processEditReply&rid=$1 [QSA,L]

RewriteRule ^deleteReply/process/(\d+)/?$ app/controller/postController.php?action=processDeleteReply&rid=$1 [QSA,L]

# For AJAX getting locations

RewriteRule ^exploreMap/?$ app/controller/postController.php?action=populateExplore [QSA,L]

RewriteRule ^populateMap/(\d+)/?$ app/controller/postController.php?action=populateMap&tid=$1 [QSA,L]
